@{
	ViewData["Title"] = "Home";
	
}

<div class="body-inner">


	<!-- Header start -->
	<header id="header" class="fixed-top header" role="banner">
		<!-- <a class="navbar-brand navbar-bg" href=""><img class="img-fluid float-right" src="img/favicon/logo.png" alt="logo"></a> -->
		<div class="container">
			<div class="row">
				<div class="col-12">
					<nav class="navbar navbar-expand-lg navbar-dark">
						<a class="navbar-brand navbar-bg" href=""><img class="img-fluid float-right" src="~/assets/public/img/favicon/logo.png" alt="logo"></a>
						<button class="navbar-toggler ml-auto border-0 rounded-0 text-white" type="button" data-toggle="collapse"
								data-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
							<span class="fa fa-bars"></span>
						</button>

						<div class="collapse navbar-collapse text-center" id="navigation">
							<ul class="navbar-nav ml-auto">
								<li class="nav-item">
									<a class="nav-link" href="">Home</a></a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="@Url.Action("About")">About Us</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="@Url.Action("Service")">Services</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="@Url.Action("Career")">Career</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="@Url.Action("Contact")">Contact</a>
								</li>
							</ul>
						</div>
					</nav>
				</div>
			</div>
		</div>
	</header>
	<!--/ Header end -->

<!-- Slider start -->
<section class="hero-slider text-center">
	<div class="slider-inner h-100">
		
		
		<div class="slider-item">

			<div class="overlay2">

				<div class="background-video">
					<video loop muted autoplay>
							<source src="~/assets/public/videos/video5.mp4" type="video/mp4">
							<source src="~/assets/public/videos/video5.mp4" type="video/mp4">
							<source src="~/assets/public/videos/video5.webm" type="video/webm">
					</video>
				</div>


				<div class="container h-100">
					<div class="row h-100 align-items-center">
						<div class="col-12">
							<h2 data-duration-in=".3" data-animation-in="fadeInDown">We Know The Solution To Create Your Own Business..!</h2>
							<h3 class="mb-4" data-duration-in=".4" data-animation-in="fadeInUp" data-delay-in=".4">We Making Difference To Great Things Possible</h3>
								<a href="@Url.Action("About")" class="cd-hero__btn btn btn-outline-primary text-white " data-duration-in=".5" data-animation-in="fadeInUp" data-delay-in=".5">Learn more</a>
						</div>
					</div>
				</div>
			</div>
		</div>


	</div>
</section>
<!--/ Slider end -->


<!-- Service box start -->
<section id="service" class="service angle">
	<div class="container">
		<div class="row">
			<div class="col-md-12 heading">
				<span class="title-icon float-left"><i class="fa fa-cogs"></i></span>
				<h2 class="title">Service We Provide <span class="title-desc">A Quality Experience Team with years of
						experience</span></h2>
			</div>
		</div><!-- Title row end -->

		<div class="row">
			<div class="col-md-6 col-lg-3 wow fadeInDown" data-wow-delay=".5s">
				<div class="service-content text-center">
					<span class="service-icon icon-pentagon"><i class="fa fa-desktop"></i></span>
					<h3>Web Designing & Development</h3>
					<p>End-to-end delivery model,Latest technology based development,Increased return on investment</p>
				</div>
			</div>
			<!--/ End first service -->

			<div class="col-md-6 col-lg-3 wow fadeInDown" data-wow-delay=".8s">
				<div class="service-content text-center">
					<span class="service-icon icon-pentagon"><i class="fa fa-database"></i></span>
					<h3>ERP System Development</h3>
					<p>Highly talented team of developers & designers Open-Source based coding & version control Latest technology based work</p>
				</div>
			</div>
			<!--/ End Second service -->

			<div class="col-md-6 col-lg-3 wow fadeInDown" data-wow-delay="1.1s">
				<div class="service-content text-center">
					<span class="service-icon icon-pentagon"><i class="fa fa-mobile"></i></span>
					<h3>Mobile App Development</h3>
					<p>Ensure fast, responsive, secure,product or serviceImprove profitability quotientSDLC etc. technology based development</p>
				</div>
			</div>
			<!--/ End Third service -->

			<div class="col-md-6 col-lg-3 wow fadeInDown" data-wow-delay="1.4s">
				<div class="service-content text-center">
					<span class="service-icon icon-pentagon"><i class="fa fa-code"></i></span>
					<h3>Software Development</h3>
					<p>Highly talented team of designers Increased return on investment Creative Logo Designing</p>
				</div>
			</div>
			<!--/ End 4th service -->
		</div><!-- Content row end -->
	</div>
	<!--/ Container end -->
</section>
<!--/ Service box end -->


<section id="image-block" class="image-block p-0">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-6 ts-padding"
					 style="height:650px;background:url(assets/public/images/image-block-bg.jpg) 50% 50% / cover no-repeat;">
			</div>
			<div class="col-lg-6 ts-padding img-block-right">
				<div class="img-block-head text-center">
					<h2>Know More About Our Company</h2>
					<h3>Why Choose Us</h3>
					<p>We Offer "Professional-level Software development, Web Developemnt , E-commerce Solutions And Marketing Services." 
						Our Development Team Produces Innovative, High-Performance Application Solutions For Industries Having Diverse Areas Of Activity.
					</p>
				</div>

				<div class="gap-30"></div>

				<div class="image-block-content">
					<span class="feature-icon float-left"><i class="fa fa-code"></i></span>
					<div class="feature-content">
						<h3>Programmers</h3>
						<p>A landing page for your open source projects. Present your solution, easily create docs.</p>
					</div>
				</div>
				<!--/ End 1st block -->

				<div class="image-block-content">
					<span class="feature-icon float-left"><i class="fa fa-paint-brush"></i></span>
					<div class="feature-content">
						<h3>Designers</h3>
						<p>A website for your own freebies. Let the world download and use your artwork.</p>
					</div>
				</div>
				<!--/ End 1st block -->

				<div class="image-block-content">
					<span class="feature-icon float-left"><i class="fa fa-cogs"></i></span>
					<div class="feature-content">
						<h3>Creators</h3>
						<p>Creators Software developers conceive of, design, and build computer programs.</p>
					</div>
				</div>
				<!--/ End 1st block -->

			</div>
		</div>
	</div>
</section>
<!--/ Image block end -->

<!-- Portfolio start -->
<!-- Portfolio end -->

<!-- Counter Strat -->
<!--/ Counter end -->

<!-- Feature box start -->
<section id="feature" class="feature">
	<div class="container">
		<div class="row">
			<div class="feature-box col-md-6 col-lg-4 wow fadeInDown" data-wow-delay=".5s">
				<span class="feature-icon float-left"><i class="fa fa-heart-o"></i></span>
				<div class="feature-content">
					<h3>Clean &amp; Modern Design</h3>
					<p>Stylish, user-friendly designs that capture attention.</p>
				</div>
			</div>
			<!--/ End first featurebox -->

			<div class="feature-box col-md-6 col-lg-4 wow fadeInDown" data-wow-delay=".5s">
				<span class="feature-icon float-left"><i class="fa fa-codepen"></i></span>
				<div class="feature-content">
					<h3>Useful Shortcodes</h3>
					<p>Quick and easy coding solutions for faster development.</p>
				</div>
			</div>
			<!--/ End 2nd featurebox -->

			<div class="feature-box col-md-6 col-lg-4 wow fadeInDown" data-wow-delay=".5s">
				<span class="feature-icon float-left"><i class="fa fa-film"></i></span>
				<div class="feature-content">
					<h3>Parallax Section</h3>
					<p>Create engaging, dynamic backgrounds for your content.</p>
				</div>
			</div>
			<!--/ End 3rd featurebox -->
		<!-- </div> -->
		<!-- Content row end -->

		<!-- <div class="gap-40"></div> -->

		<!-- <div class="row"> -->
			<div class="feature-box col-md-6 col-lg-4 wow fadeInDown" data-wow-delay=".5s">
				<span class="feature-icon float-left"><i class="fa fa-newspaper-o"></i></span>
				<div class="feature-content">
					<h3>Multipurpose Concept</h3>
					<p>Versatile designs adaptable to various needs and industries.</p>
				</div>
			</div>
			<!--/ End 1st featurebox -->

			<div class="feature-box col-md-6 col-lg-4 wow fadeInDown" data-wow-delay=".5s">
				<span class="feature-icon float-left"><i class="fa fa-desktop"></i></span>
				<div class="feature-content">
					<h3>Responsive Layout</h3>
					<p>Optimized for all devices, ensuring a seamless user experience.</p>
				</div>
			</div>
			<!--/ End 2nd featurebox -->

			<div class="feature-box col-md-6 col-lg-4 wow fadeInDown" data-wow-delay=".5s">
				<span class="feature-icon float-left"><i class="fa fa-pagelines"></i></span>
				<div class="feature-content">
					<h3>Light wight Performance</h3>
					<p>Continuous improvements and updates at no extra cost.</p>
				</div>
			</div>
			<!--/ End 3rd featurebox -->

		<!-- </div> -->
		<!-- Content row end -->

		<!-- <div class="gap-40"></div>

		<div class="row"> -->
			<div class="feature-box col-md-6 col-lg-4 wow fadeInDown" data-wow-delay=".5s">
				<span class="feature-icon float-left"><i class="fa fa-recycle"></i></span>
				<div class="feature-content">
					<h3>Free Lifetime Updates</h3>
					<p>Continuous improvements and updates at no extra cost.</p>
				</div>
			</div>
			<!--/ End first featurebox -->

			<div class="feature-box col-md-6 col-lg-4 wow fadeInDown" data-wow-delay=".5s">
				<span class="feature-icon float-left"><i class="fa fa-diamond"></i></span>
				<div class="feature-content">
					<h3>Endless Possibilites</h3>
					<p>Flexible features that allow limitless customization.</p>
				</div>
			</div>
			<!--/ End first featurebox -->

			<div class="feature-box col-md-6 col-lg-4 wow fadeInDown" data-wow-delay=".5s">
				<span class="feature-icon float-left"><i class="fa fa-whatsapp"></i></span>
				<div class="feature-content">
					<h3>24/7 Live Support</h3>
					<p>Always available to assist with any questions or issues.</p>
				</div>
			</div>
			<!--/ End first featurebox -->
		</div><!-- Content row end -->

	</div>
	<!--/ Container end -->
</section>
<!--/ Feature box end -->






<!-- Team start -->

<!--/ Team end -->

<!-- Parallax 1 start -->
<section class="parallax parallax2">
	<div class="parallax-overlay"></div>
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
				<h2>Click to Join the Advance Workshop</h2>
				<h3>Training In Advance Development</h3>
				<p>
					<!-- <a href="#" class="btn btn-outline-white mr-2">Purchase Now</a> -->
						<a href="@Url.Action("Career")" class="btn btn-outline-primary text-white">Join Now</a>
				</p>
			</div>
		</div>
	</div><!-- Container end -->
</section><!-- Parallax 1 end -->


<!-- Pricing table start -->

<!--/ Pricing table end -->


<!-- Testimonial start-->

<!--/ Testimonial end-->


<!-- Clients start -->
<section id="clients" class="clients">
	<div class="container">
		<div class="row wow fadeInLeft">
			<div id="client-carousel" class="col-sm-12 owl-carousel owl-theme text-center client-carousel">
				<figure class="m-0 item client_logo">
					<a href="javascript:void(0)">
							<img src="~/assets/public/images/clients/client-1.jpg" alt="client">
					</a>
				</figure>
				<figure class="m-0 item client_logo">
					<a href="javascript:void(0)">
							<img src="~/assets/public/images/clients/client-2.png" alt="client">
					</a>
				</figure>
				<figure class="m-0 item client_logo">
					<a href="javascript:void(0)">
							<img src="~/assets/public/images/clients/client-3.jpg" alt="client">
					</a>
				</figure>
				<figure class="m-0 item client_logo">
					<a href="javascript:void(0)">
							<img src="~/assets/public/images/clients/client-4.jpg" alt="client">
					</a>
				</figure>
				<figure class="m-0 item client_logo">
					<a href="javascript:void(0)">
							<img src="~/assets/public/images/clients/client-5.jpg" alt="client">
					</a>
				</figure>
				<figure class="m-0 item client_logo">
					<a href="javascript:void(0)">
							<img src="~/assets/public/images/clients/client-6.jpg" alt="client">
					</a>
				</figure>
				<figure class="m-0 item client_logo">
					<a href="javascript:void(0)">
							<img src="~/assets/public/images/clients/client-7.jpg" alt="client">
					</a>
				</figure>
			</div><!-- Owl carousel end -->
		</div><!-- Main row end -->
	</div>
	<!--/ Container end -->
</section>
<!--/ Clients end -->




	<!-- Footer start -->
	<footer id="footer" class="footer">
	  <div class="container">
	    <div class="row">
	      <div class="col-md-4 col-lg-4 footer-widget mb-5 mb-lg-0">
			<h3 class="widget-title">Our Memorable Moments</h3>

	        <div class="img-gallery">
	          <div class="img-container">
	            <a class="thumb-holder" data-rel="prettyPhoto" href="images/gallery/img1.jpeg">
								<img src="~/assets/public/images/gallery/img1.jpeg" alt="">
	            </a>
	            <a class="thumb-holder" data-rel="prettyPhoto" href="images/gallery/img2.jpeg">
								<img src="~/assets/public/images/gallery/img2.jpeg" alt="">
	            </a>
	            <a class="thumb-holder" data-rel="prettyPhoto" href="images/gallery/img3.jpeg">
								<img src="~/assets/public/images/gallery/img3.jpeg" alt="">
	            </a>
	            <a class="thumb-holder" data-rel="prettyPhoto" href="images/gallery/img4.jpeg">
								<img src="~/assets/public/images/gallery/img4.jpeg" alt="">
	            </a>
	            <a class="thumb-holder" data-rel="prettyPhoto" href="images/gallery/img5.jpeg">
								<img src="~/assets/public/images/gallery/img5.jpeg" alt="">
	            </a>
	            <a class="thumb-holder" data-rel="prettyPhoto" href="images/gallery/img6.jpeg">
								<img src="~/assets/public/images/gallery/img6.jpeg" alt="">
	            </a>
	            
	          </div>
	        </div>

	      </div>
	      <!--/ End Recent Posts-->

	      <div class="col-md-8 col-lg-4 footer-widget mb-5 mb-lg-0">
	        
	      </div>
	      <!--/ end flickr -->

	      <div class="col-md-12 col-lg-4 footer-widget footer-about-us mb-5 mb-lg-0">
	        <h3 class="widget-title">About GTL Software</h3>
	        <p>With the best software and hardware environments coupled with state-of-the-art communication facilities.</p>
	        <h4>Address</h4>
	        <p>PUNE- Office No. 1, Vitthal smruti , Kokan Exp Len, Kothrud, Rahul Nagar, Kothrud, Pune, Maharashtra 411038</p>
	        <div class="row">
	          <div class="col-12">
	            <h4>Email:</h4>
	            <p><a href="mailto:info@gtlsoftwares.com" class="text-white">info@gtlsoftwares.com</a></p>
	            <p><a href="mailto:shilpa@gtlsoftwares.com" class="text-white">shilpa@gtlsoftwares.com</a></p>
	          </div>
	          <div class="col-12">
	            <h4>Phone No.</h4>
	            <p><a href="tel:+91-8446633957" class="text-white">+91-8446633957</a></p>
	          </div>
	        </div>
	        <!-- <form action="#" role="form">
	          <div class="input-group subscribe">
	            <input type="email" class="form-control" placeholder="Email Address" required="">
	            <span class="input-group-addon">
	              <button class="btn" type="submit"><i class="fa fa-envelope-o"> </i></button>
	            </span>
	          </div>
	        </form> -->
	      </div>
	      <!--/ end about us -->

	    </div><!-- Row end -->
	  </div><!-- Container end -->
	</footer><!-- Footer end -->


	<!-- Copyright start -->
	<section id="copyright" class="copyright angle">
	  <div class="container">
	    <div class="row">
	      <div class="col-md-12 text-center">
	        <ul class="footer-social unstyled">
	          <li>
	            <a title="Instagram" href="https://www.instagram.com/gtlsoftwares/">
	              <span class="icon-pentagon wow bounceIn"><i class="fa fa-instagram"></i></span>
	            </a>
	            <a title="Facebook" href="https://www.facebook.com/gtlsoftwares">
	              <span class="icon-pentagon wow bounceIn"><i class="fa fa-facebook"></i></span>
	            </a>
	            <a title="linkedin" href="https://www.linkedin.com/company/gtlsoftware/mycompany/">
	              <span class="icon-pentagon wow bounceIn"><i class="fa fa-linkedin"></i></span>
	            </a>
	          </li>
	        </ul>
	      </div>
	    </div>
	    <!--/ Row end -->
	    <div class="row">
	      <div class="col-md-12 text-center">
	        <div class="copyright-info">
	          &copy; Copyright <span id="currentYear"></span> gtlsoftwares. <span>Designed by <a
	              href="https://www.gtlsoftwares.com/">gtlsoftwares.com</a></span>
	        </div>
	      </div>
			<script>
				const year = new Date().getFullYear();
				document.getElementById("currentYear").textContent = year;
			</script>
	    </div>
	    <!--/ Row end -->
	    <div id="back-to-top" data-spy="affix" data-offset-top="10" class="back-to-top affix position-fixed">
	      <button class="btn btn btn-outline-white" title="Back to Top"><i class="fa fa-angle-double-up"></i></button>
	    </div>
	  </div>
	  <!--/ Container end -->
	</section>
	<!--/ Copyright end -->

</div><!-- Body inner end -->
@section scripts {
	<!-- jQuery -->
	<script src="~/assets/public/plugins/jQuery/jquery.min.js"></script>
	<!-- Bootstrap JS -->
	<script src="~/assets/public/plugins/bootstrap/bootstrap.min.js"></script>
	<!-- Style Switcher -->
	<script type="text/javascript" src="~/assets/public/plugins/style-switcher.js"></script>
	<!-- Owl Carousel -->
	<script type="text/javascript" src="~/assets/public/plugins/owl/owl.carousel.js"></script>
	<!-- PrettyPhoto -->
	<script type="text/javascript" src="~/assets/public/plugins/jquery.prettyPhoto.js"></script>
	<!-- Bxslider -->
	<script type="text/javascript" src="~/assets/public/plugins/flex-slider/jquery.flexslider.js"></script>
	<!-- Slick slider -->
	<script type="text/javascript" src="~/assets/public/plugins/slick/slick.min.js"></script>
	<!-- Isotope -->
	<script type="text/javascript" src="~/assets/public/plugins/isotope.js"></script>
	<script type="text/javascript" src="~/assets/public/plugins/ini.isotope.js"></script>
	<!-- Wow Animation -->
	<script type="text/javascript" src="~/assets/public/plugins/wow.min.js"></script>
	<!-- Eeasing -->
	<script type="text/javascript" src="~/assets/public/plugins/jquery.easing.1.3.js"></script>
	<!-- Counter -->
	<script type="text/javascript" src="~/assets/public/plugins/jquery.counterup.min.js"></script>
	<!-- Waypoints -->
	<script type="text/javascript" src="~/assets/public/plugins/waypoints.min.js"></script>
	<!-- google map -->


	<!-- Main Script -->
	<script src="~/assets/public/js/script.js"></script>

}